services:
  # Backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: transcendence-backend
    env_file:
      - .env
    environment:
      # Database
      - DATABASE_URL=${DATABASE_URL}
      
      # Network
      - TRUST_PROXY=true
      - ENVIRONMENT=${ENVIRONMENT}
      - FRONT_URL=https://${HOST_IP}
      - SITE_URL=https://${HOST_IP}
      
      # SSL
      - USE_SSL=${USE_SSL}
      - SSL_DIR=/app/ssl
      
      # Ports
      - BACK_PORT=${BACK_PORT}
      
      # JWT
      - JWT_SECRET=${JWT_SECRET}
      - ACCESS_TOKEN_EXPIRATION=${ACCESS_TOKEN_EXPIRATION}
      - REFRESH_TOKEN_EXPIRATION=${REFRESH_TOKEN_EXPIRATION}
      
      # OAuth - 42
      - FORTYTWO_ID=${FORTYTWO_ID}
      - FORTYTWO_SECRET=${FORTYTWO_SECRET}
      - FORTYTWO_CALLBACK=https://${HOST_IP}/api/auth/42/callback
      
      # OAuth - Google
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_CALLBACK_URL=https://${HOST_IP}/api/oauth/google/callback
      
      # 2FA
      - MY_2FA_APP_NAME=${MY_2FA_APP_NAME}
      
      # Upload
      - UPLOAD_DIR=${UPLOAD_DIR}
      - DEFAULT_AVATAR=${DEFAULT_AVATAR}
      
    volumes:
      - ./backend/data:/app/data
      - ./backend/uploads:/app/uploads
      - ./backend/ssl:/app/ssl
    depends_on:
      - init-db
    networks:
      - transcendence-network
    expose:
      - "${BACK_PORT}"
    restart: unless-stopped

  init-db:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: transcendence-init-db
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - ./backend/data:/app/data
    command: npx prisma migrate deploy
    networks:
      - transcendence-network

  # Frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=https://${HOST_IP}/api
        - VITE_WS_URL=wss://${HOST_IP}/ws
    container_name: transcendence-frontend
    env_file:
      - .env
    environment:
      - VITE_API_URL=https://${HOST_IP}/api
      - VITE_WS_URL=wss://${HOST_IP}/ws
    networks:
      - transcendence-network
    expose:
      - "${FRONT_PORT}"
    restart: unless-stopped

  # SSL
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: transcendence-nginx
    ports:
      - "80:80"     # HTTP
      - "443:443"   # HTTPS
    depends_on:
      - backend
      - frontend
    networks:
      - transcendence-network
    restart: unless-stopped

networks:
  transcendence-network:
    driver: bridge
