services:
  postgres:
    image: postgres:15-alpine
    container_name: transcendence_db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: transcendence
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  
